@media screen and (max-width: 2560px) {
  div.logo > img {
    width: 100px;
  }

  div.logo > h3 {
    font-size: 4rem;
  }

  ul.headerNavigation li {
    margin: 0 30px;
  }

  ul.headerNavigation li > a {
    font-size: 2rem;
  }

  a.get-started-btn {
    margin-left: 120px;
  }

  span.description {
    font-size: 1.6rem;
  }

  div.main-text > span.description:after, div.main-text > span.description:before {
    height: 3px;
  }

  div.main-text > h1, div.select-a-plan h1 {
     font-size: 5rem;
  }

  div.main-text p, div.select-a-plan p {
    max-width: 1200px;
    font-size: 2.1rem;
    line-height: 50px;
  }
  
  a.down-arrow img {
    width: 250px;
  }

  main {
    padding-bottom: 165px;
  }

  div.select-a-plan p {
    line-height: 36px;
  }

  div.column {
    min-height: 1000px;
  }

  div.column > img {
    width: 200px;
  }

  div.column p.plan-type {
    font-size: 1.8rem;
  }

  div.column span.currency, div.column span.sum {
    font-size: 4rem;
  }

  div.column span.per-month {
    font-size: 2.4rem;
  }

  div.column p.plan-description {
    font-size: 1.8rem;
    line-height: 40px;
  }

  div.column a.select-plan {
    margin-top: 30px;
    font-size: 1.8rem;
    padding: 20px 80px;
  }

  .map-container h1 {
    font-size: 4rem;
  }

  div.pre-footer-btns a {
    font-size: 1.8rem;
    width: 398px;
  }

  ul.footerNavigation li {
    margin: 0 30px;
  }

  ul.footerNavigation li > a {
    font-size: 2rem;
  }

  p.copyright {
    font-size: 1.6rem;
  }

  img.social-btn {
    width: 65px;
  }
   
}

@media screen and (max-width: 1440px) {
  div.logo > img {
    width: 55px;
  }

  div.logo > h3 {
    font-size: 2.6rem;
  }

  ul.headerNavigation li, ul.footerNavigation li {
    margin: 0 10px;
  }

  ul.headerNavigation li > a, ul.footerNavigation li > a {
    font-size: 1.4rem;
  }

  a.get-started-btn {
    margin-left: 70px;
  }

  div.main-text > h1, div.select-a-plan h1 {
     font-size: 5rem;
  }

  div.main-text p, div.select-a-plan p {
    max-width: 1000px;
    font-size: 1.8rem;
    line-height: 40px;
  }
  
  a.down-arrow img {
    width: 160px;
  }

  main {
    padding-bottom: 165px;
  }

  div.column {
    min-height: 830px;
    min-width: 425px;
  }

  div.column > img {
    width: 120px;
  }

  div.column p.plan-type {
    font-size: 1rem;
  }

  div.column span.currency, div.column span.sum {
    font-size: 3rem;
  }

  div.column span.per-month {
    font-size: 1.7rem;
  }

  div.column p.plan-description {
    font-size: 1.4rem;
    line-height: 28px;
  }

  div.column a.select-plan {
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 15px 50px;
  }

  .map-container h1 {
    font-size: 2.8rem;
  }

  div.pre-footer-btns a {
    font-size: 1.3rem;
    width: 250px;
  }

  p.copyright {
    font-size: 1.2rem;
  }

  img.social-btn {
    width: 45px;
  }
}

@media screen and (max-width: 1920px) {
  div.logo > img {
    width: 50px;
  }

  div.logo > h3 {
    font-size: 3.2rem;
  }

  ul.headerNavigation li, ul.footerNavigation li {
    margin: 0 15px;
  }

  ul.headerNavigation li > a, ul.footerNavigation li > a {
    font-size: 1.7rem;
  }

  a.get-started-btn {
    margin-left: 80px;
    border-radius: 40px;
  }

  span.description {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  div.main-text > span.description:after, div.main-text > span.description:before {
    height: 3px;
  }

  div.main-text > h1, div.select-a-plan h1 {
     font-size: 5rem;
     margin-bottom: 10px;
  }

  div.main-text p, div.select-a-plan p {
    max-width: 1200px;
    font-size: 2.1rem;
    line-height: 50px;
  }
  
  a.down-arrow img {
    width: 150px;
  }

  main {
    padding-bottom: 165px;
  }

  div.select-a-plan p {
    line-height: 36px;
    font-size: 1.7rem;
  }

  div.column {
    min-height: 615px;
    width: 30%;
  }

  div.column:hover {
    transform: scale(1.015);
  }

  div.column > img {
    width: 100px;
  }

  div.column p.plan-type {
    font-size: 1rem;
  }

  div.column span.currency, div.column span.sum {
    font-size: 4rem;
  }

  div.column span.per-month {
    font-size: 2.4rem;
  }

  div.column p.plan-description {
    font-size: 1.2rem;
    line-height: 20px;
  }

  div.column a.select-plan {
    margin-top: 30px;
    font-size: 1.8rem;
    padding: 20px 80px;
  }

  .map-container h1 {
    font-size: 4rem;
  }

  div.pre-footer-btns a {
    font-size: 1.3rem;
    width: 280px;
  }

  p.copyright {
    font-size: 1rem;
  }

   img.social-btn {
    width: 35px;
  } 
   
}

@media screen and (max-width: 1024px) {
  header {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  div.logo > img {
    width: 55px;
  }

  div.logo > h3 {
    font-size: 2.6rem;
  }

  ul.headerNavigation {
    margin-top: 30px;
  }

  ul.headerNavigation li, ul.footerNavigation li {
    margin: 0 10px;
  }

  ul.headerNavigation li > a, ul.footerNavigation li > a {
    font-size: 1.5rem;
  }

  span.description {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  div.main-text > span.description:after, div.main-text > span.description:before {
    height: 1px;
  }

  div.main-text > h1, div.select-a-plan h1 {
     font-size: 3rem;
  }

  div.main-text p, div.select-a-plan p {
    max-width: 800px;
    font-size: 1.4rem;
    line-height: 30px;
  }
  
  a.down-arrow img {
    width: 80px;
  }

  main {
    padding: 20px;
  }

  div.select-a-plan h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }

  div.select-a-plan p {
    font-size: 1rem;
  }

  div.columns {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  div.column:nth-child(2), div.column:nth-child(3) {
    margin-top: 20px;
  }

  div.column {
    width: 80%;
    min-height: 400px;
  }

  div.column:hover {
    transform: unset;
  }

  div.column > img {
    width: 120px;
  }

  div.column p.plan-type {
    font-size: 1rem;
  }

  div.column span.currency, div.column span.sum {
    font-size: 3rem;
  }

  div.column span.per-month {
    font-size: 1.7rem;
  }

  div.column p.plan-description {
    font-size: 1.4rem;
    line-height: 28px;
  }

  div.column a.select-plan {
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 15px 50px;
  }

  .map-container h1 {
    font-size: 2.8rem;
  }

  div.pre-footer-btns a {
    font-size: 1.2rem;
    width: 250px;
  }

  div.logo-and-navigation {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  div.logo-and-navigation div.logo {
    order: 1;
    margin-top: 20px;
  }

  ul.footerNavigation {
    width: 100%;
  }

  p.copyright {
    font-size: 1.2rem;
  }

  img.social-btn {
    width: 45px;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  div.logo > img {
    width: 55px;
  }

  div.logo > h3 {
    font-size: 2.6rem;
  }

  ul.headerNavigation {
    margin-top: 30px;
  }

  ul.headerNavigation li, ul.footerNavigation li {
    margin: 0 10px;
  }

  ul.headerNavigation li > a, ul.footerNavigation li > a {
    font-size: 1.3rem;
  }

  span.description {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  div.main-text > span.description:after, div.main-text > span.description:before {
    height: 1px;
  }

  div.main-text > h1, div.select-a-plan h1 {
     font-size: 3rem;
  }

  div.main-text p, div.select-a-plan p {
    max-width: 800px;
    font-size: 1.4rem;
    line-height: 30px;
  }
  
  a.down-arrow img {
    width: 80px;
  }

  main {
    padding: 20px;
  }

  div.select-a-plan h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }

  div.select-a-plan p {
    font-size: 1rem;
  }

  div.columns {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  div.column:nth-child(2), div.column:nth-child(3) {
    margin-top: 20px;
  }

  div.column {
    width: 80%;
    min-height: 400px;
  }

  div.column:hover {
    transform: unset;
  }

  div.column > img {
    width: 120px;
  }

  div.column p.plan-type {
    font-size: 1rem;
  }

  div.column span.currency, div.column span.sum {
    font-size: 3rem;
  }

  div.column span.per-month {
    font-size: 1.7rem;
  }

  div.column p.plan-description {
    font-size: 1.4rem;
    line-height: 28px;
  }

  div.column a.select-plan {
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 15px 50px;
  }

  .map-container h1 {
    font-size: 2.8rem;
  }

  div.pre-footer-btns a {
    font-size: 1.2rem;
    width: 250px;
  }

  div.logo-and-navigation {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  div.logo-and-navigation div.logo {
    order: 1;
    margin-top: 20px;
  }

  ul.footerNavigation {
    width: 100%;
  }

  p.copyright {
    font-size: 1.2rem;
  }

  img.social-btn {
    width: 45px;
  }
}